<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<link href="/css/bootstrap.min.js" th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<script src="/js/jquery-3.2.1.min.js"
		th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="/js/modaldeletar.js" th:src="@{/js/modaldeletar.js}"></script>
	<script src="/js/table.js" th:src="@{/js/table.js}"></script>


<head>
<meta charset="UTF-8" />
</head>
<section layout:fragment="conteudo">

	<div layout:include="MensagemGeral"></div>
	</br>
	<div style="text-align: center; text-weight: bold; text-size: 20px">
		<label>JOGADORES</label>
	</div>


	<div class="panel-body">
		<table id="tblJogadores" class="table table-striped table-bordered" style="width:80%">
			<thead>
				<tr>
					<th class="text-center col-md-2"  data-sortable="true" data-field="id">ID
					</th>
					<th class="text-center col-md-4">Nome</th>
					<th class="text-center col-md-3">Perfil</th>
					<th class="text-center col-md-2">Pontuação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="jogador : ${jogadores}">
					<td class="text-center" th:text="${jogador.id}"></td>
					<td class="text-center" th:text="${jogador.nome}"></td>
					<td class="text-center" th:text="${jogador.usuario.perfil.perfil}"></td>
					<td class="text-center" th:text="${jogador.pontuacao.pontos}"></td>
				</tr>
			</tbody>
		</table>
		<div class="panel-body text-center">
			<a class="btn btn-primary" href="/especialidades/novo" role="button">Novo</a>
		</div>
	</div>

	<div layout:include="ModalDelete"></div>

</section>

</html>